@{
    ViewData["Title"] = "Forum AEDB";
}

<div class="container" style="display: flex; justify-content: center; width: 100vw;">
    <div class="box" style="width: 60%">
        <h1>@ViewData["Title"]</h1>
        <div class="card">
            <div class="card-header">Sobre o Forum</div>
            <div class="card-body">
                <p>
                    A comunicação entre alunos de cursos diferentes, ou até mesmo de mesmos cursos, mas de períodos diferentes, é bastante precária.
                    Em muitos projetos da faculdade, existe a necessidade de ter um conhecimento que é facilmente adquirido em outras matérias de outros cursos. 
                    Porém existe uma dificuldade nessa busca pela informação por conta desse déficit de oportunidade de comunicação entre áreas diferentes.
                </p>
                <p>
                    O problema da comunicação será resolvido com a criação do fórum para facilitar a interação entre alunos de cursos diferentes, 
                    permitindo também o uso de conhecimentos diversificados de vários cursos em um único trabalho acadêmico sem que tenha um esforço desperdiçado para encontrar
                    informações básicas de cursos variados.
                </p>
            </div>
        </div>
    </div>
</div>
